[user]
	name = Andres Rodriguez
	email = andresmichelrodriguez@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[alias]
	ac = !git add . && git commit
	check = sparse-checkout add
	edit = commit -a --amend --no-edit
	hard = reset --hard
	ignore = !sh -c \"cp ~/.gitignore_global .gitignore\"
	nb = !git rev-parse --abbrev-ref origin/HEAD | cut -c8- | git switch - && git pull && git checkout -b
	pb = !git push --set-upstream origin $(git branch --show-current)
	root = !cd `git rev-parse --show-toplevel`
	sparse = clone --filter=blob:none --sparse
	sub = submodule update --init
	sync = !git fetch upstream && git rebase upstream/$(git branch --show-current)
	tagbex = !sh -c 'jq -r '.version' dist/manifest.json | xargs git tag && git push --tags'
	tagtau = !sh -c 'jq -r '.package.version' src-tauri/tauri.conf.json | xargs git tag && git push --tags'
	unstage = restore --staged
[credential]
	helper = store
[help]
	autocorrect = 20
[merge]
	tool = vimdiff
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = true
